# This is clang-format config file
# Maxim Dementyev, 2025
# https://github.com/dememax/clang-config
ColumnLimit: 120
IndentWidth: 4
InsertNewlineAtEOF: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<ext/.*\.h>'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<.*\.h>'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<.*'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '.*'
    Priority:        3
    SortPriority:    0
    CaseSensitive:   false
IncludeIsMainRegex: '([-_](test|unittest))?$'
IncludeIsMainSourceRegex: ''
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Pointer
QualifierAlignment: Right
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AlignTrailingComments:
  Kind:            Never
  OverEmptyLines:  0
AllowShortFunctionsOnASingleLine: Inline
SpacesBeforeTrailingComments: 1
SpaceBeforeCpp11BracedList: false
IndentAccessModifiers: false
IndentCaseLabels: false
IndentCaseBlocks: true
AllowShortIfStatementsOnASingleLine: Never
AllowAllParametersOfDeclarationOnNextLine: true
SpaceInEmptyBlock: false
SpacesInAngles: Never
PackConstructorInitializers: NextLine
NamespaceIndentation: All
FixNamespaceComments: true
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
AccessModifierOffset: -4
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: false
Cpp11BracedListStyle: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
ContinuationIndentWidth: 2
AlignEscapedNewlines: Left
BreakAfterReturnType: TopLevelDefinitions
BinPackArguments: false
BreakTemplateDeclarations: Yes
ConstructorInitializerIndentWidth: 4
BreakInheritanceList: BeforeColon
SpaceAfterTemplateKeyword: false
Standard: Latest
